.line-through {
  text-decoration: line-through;
}
.white-space-wrap {
  white-space: normal;
}
.text-overflow-ellipsis {
  text-overflow: ellipsis;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-scroll {
  overflow: scroll;
}
.bold {
  font-weight: bold;
}
.capitalize {
  text-transform: capitalize;
}
.underline {
  text-decoration: underline;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.no-hover {
  background: none !important;
}
.no-wrap {
  white-space: nowrap;
}
.cursor-pointer {
  cursor: pointer;
}
